html {
    scroll-behavior: smooth;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

body {
    text-align: center;
    margin: 0;
    background-color: #fcd0d0;
}

.header {
    height: 100px;
    background-color: #a0c4ff;
    border-bottom: 5px solid #14213d;
    padding-top: 10px;
}